.accomodationContainer {
    max-height: 100vh;
    overflow-y: scroll;
    padding: 5vw;
}

.titleText {
    font-family: 'Amsterdam';
    font-size: 26px;
    overflow: visible;
}

p {overflow: visible;}

.pinkBG {
    background: #555BE1;
}   

.pinkText {
    color: #555BE1;
}