.titleText {
    font-family: 'Amsterdam';
    font-size: 30px;
    line-height: initial;
}

.purpleBG {
    background: #555BE1;
}   

.purpleText {
    color: #555BE1;
}

@media only screen and (max-width: 992px) {

    .purpleText {
        color: white;
    }

}