.gettingthereContainer {
    background-color: #D88D19;
}

.gettingthereInnerContainer {
    padding-left: 20vw;
    padding-top: 20px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: #0A3B61;
    p {
        font-family: 'Blackout';
        font-size: 24px;
    }
}
.gettingthereTitle {
    display: flex;
    align-items: center;
    h1 {
        font-size: 36px;
        margin-left: 10px;
    }
}
.gettingthereIcon {
    height: 250px;
}
.gettingthereIconSmall {
    color: #793A28;
    font-size: 24px;
    margin-right: 10px;
}

.gettingthereIconMedium {
    color: #793A28;
    font-size: 28px;
    margin-right: 10px;
}

.gettingthereInnerContainer2 {
    display:flex;
    justify-content: center;
}

.gtIC1 {
    width: 50vw;
    padding-left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gtIC2 {
    width: 50vw;
    display: flex;
    justify-content: left;
    padding-left: 60px;
}

.smallWhiteLine {
    width: 30px;
    height: 1px;
    background-color: white;
    margin: 10px 0;
}