.fuschiaBG {
    background: #DA2171;
}   

.fuschiaText {
    color: #DA2171;
}

.gettingthereIcon {
    height: 250px;
}
.gettingthereIconSmall {
    color: #DA2171;
    font-size: 24px;
    margin-right: 10px;
    overflow: visible;
}

.gettingthereIconMedium {
    color: #DA2171;
    font-size: 28px;
    margin-right: 20px;
    overflow: visible;
}

