p {overflow: visible; line-height:initial;}

.fuschiaBG {
    background: #DA2171;
}   

.fuschiaText {
    color: #DA2171;
}

.smallWhiteLine {
    width: 30px;
    height: 1px;
    background-color: #DA2171;
    margin: 10px 0;
}

.gettingthereIcon {
    height: 250px;
}
.gettingthereIconSmall {
    color: #DA2171;
    font-size: 24px;
    margin-right: 10px;
    overflow: visible;
}

.gettingthereIconMedium {
    color: #DA2171;
    font-size: 28px;
    margin-right: 20px;
    overflow: visible;
}

