.clickThrough {
    pointer-events: none;
}
.invisible {
    display: none;
}

*{
    overflow: hidden;
}
.no-padding{
    padding: 0px;
}
.mainContainer{
    height: 100vh;
}
.leftSide{
    height: 100vh;
}

.lightGreen{
    background: #6AFFDA;
    /* animation-name: changeBGColor; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.lightBlue{
    background: #6AFFDA;
}
@keyframes changeBGColor {
    from {background: #6AFFDA;}
    to {background: #35def3;}
}

.bottomLeftImg{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    max-width: 858px;
    max-height: 500px;
}
.bottomLeftImg img{
    max-width: 100%;
}
.topRightImg{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    max-width: 350px;
}
.topRightImg img{
    max-width: 100%;
}
.rightSide{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 180px; */
    /* margin-left: 140px; */
}
.rightSide img{
    margin-left: -80px;
}
.mWebImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.mWebImg img{
    justify-content: center;
}
.forMWeb{
    visibility: hidden;
    display: none;
    width: 100%;
}
.mainOpening{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.mainOpening .imgLayer{
    width: 100%;
    position: absolute;
}
.invitationText{
    position: absolute;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.mainOpening .imgLayer img{
    width: 100%;
}
.layer1{
    z-index: 1999;
}
.layer2{
    z-index: 1998;
}
.layer3{
    z-index: 1997;
}
.layer4{
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 1996;
    position: absolute;
}
//------------------------------------------------------------------- INTRO ANIMATION
//------------------------------------------------ LEAVES
.leafAnimation1 {
    animation: leafAnimation1 4s ease-in forwards;
}
@keyframes leafAnimation1 {
    100% {
        transform: scale(6);
        opacity: 0;
    }
    
    0% {
        transform: scale(1);
    }
}
.leafAnimation2 {
    animation: leafAnimation2 4s ease-in forwards;
}
@keyframes leafAnimation2 {
    100% {
        transform: scale(5);
        opacity: 0;
    }
    
    25% {
        transform: scale(1);
    }
}
.leafAnimation3 {
    animation: leafAnimation3 4s ease-in forwards;
}
@keyframes leafAnimation3 {
    100% {
        transform: scale(6);
        opacity: 0;
    }
    50% {
        transform: scale(3);
    }
    
    0% {
        transform: scale(1);
    }
}

//------------------------------------------------ INVITATION
.couponAnimation {
    animation: couponAnimation 4s ease-in forwards;
}
@keyframes couponAnimation {
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.locationImage{
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 80px;
}
.onlymWeb{
    visibility: hidden;
    display: none;
}
.onlyWebLoad{
    visibility: visible;
    display: inline-block;
}

#navBarMobile {
    display: none;
}
.mobileMenuButton {
    display: none;
}
.i4ewOd-pzNkMb-haAclf {
    display: none;
}

//------------------------------------------------------------------------------------------------ IPAD MEDIA QUERY
@media only screen and (width: 768px) and (height: 1024px) {
    .col-md-6 {
        flex: 100%;
        max-width: 120vw;
    }

}
//------------------------------------------------------------------------------------------------ IPAD PRO MEDIA QUERY

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .navBar {
        top: -500px;
    }
    .moveDown {
        transform: translate(0,500px)
    }
    .navbarText {
        flex-direction: column;
        align-items: center;
        background-color: transparent;

        a {
            font-size: 26px;
            line-height: 120px;
            color: white;
        }
    }
}


//------------------------------------------------------------------------------------------------ MOBILE MEDIA QUERY

@media only screen and (max-width: 992px) {

    .scheduleContainer {
        width: 80vw;
        p {
            font-size: 18px;
        }
    }
    .secondaryTitleText {
        line-height: 3 !important;
        overflow: visible;
    }


//----------------------------------------- NAVBAR 
    #navBar {
        display: none;
    }
    .navbarMobileText {
        display: flex;
        flex-direction: column;
        a {
            line-height: 50px;
            margin-bottom: 10px;
            font-family: 'Amsterdam';
            font-size: 12px;
            color: #0A3B61;
        }
    }

//----------------------------------------- NAVBAR ANIMATION
    #navBarMobile {
        z-index: 10;
        position: absolute;
        transform: translate(-100vw,0);
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .moveRight {
        transform: translate(0vw,0) !important;
    }

//----------------------------------------- CROSS ANIMATION

    .mobileMenuButton {
        display: block;
        z-index: 100;
        color: white;
    }

    #closeCross {
        color: #0A3B61;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
    .getVisible {
        opacity: 100 !important;
        -webkit-transition: opacity 3s ease-in-out !important;
        -moz-transition: opacity 3s ease-in-out !important;
        transition: opacity 3s ease-in-out !important;
    }
    
//----------------------------------------- BURGER MENU ANIMATION
    .mobileMenuButton {
        position: absolute;
        top: 20px;
        left: 20px;
        overflow: visible;
        animation:heartBeat 10s ease infinite;
        @keyframes heartBeat {
            0% {
                font-size: 26px;
            }
            50% {
                font-size: 28px;
            }
            100% {
                font-size: 26px;
            }
        }
        
    }

    /* .theContainer {
        visibility: hidden;
        display: none;
    }
    .forMWeb{
        visibility: visible;
        display: inline-block;
    }
    .mainOpening{
        visibility: hidden;
        display: none;
    } */
    .onlymWeb{
        visibility: visible;
        display: inline-block;
    }
    .onlyWebLoad{
        visibility: hidden;
        display: none;
    }
    .topRightImg {
        max-width: 200px;
    }
    .bottomLeftImg {
        max-width: 280px;
    }
    .leftSide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .locationImage {
        cursor: pointer;
        position: fixed;
        top: 30px;
        left: 20px;
        width: 70px;
    }
    .mWebNameImage{
        width: 220px;
    }
}

.mainRainContainer{
    display: none;
    opacity: 0;
}


.rain__drop {
  -webkit-animation-delay: calc(var(--d) * 1s);
          animation-delay: calc(var(--d) * 1s);
  -webkit-animation-duration: calc(var(--a) * 1s);
          animation-duration: calc(var(--a) * 1s);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  height: 30px;
  left: calc(var(--x) * 1%);
  position: absolute;
  top: calc((var(--y) + 50) * -1px);
}
.rain__drop path {
  fill: #fff;
  opacity: var(--o);
  -webkit-transform: scaleY(calc(var(--s) * 1.5));
          transform: scaleY(calc(var(--s) * 1.5));
}
@-webkit-keyframes drop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}
@keyframes drop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

  
  