.scheduleContainer {
    max-height: 100vh;
    overflow: auto;
    padding: 5vw;
    color: #0A3B61;
    p {
        font-size: 24px;
    }
    ul {
        list-style: none;
        li {
            font-family: 'Blackout';
            font-size: 24px;
        }
    }
}

.scheduleIcon {
    height: 250px;
}

.pinkText {
    color: #F89999;
}
.pinkBG {
    background-color: #F89999;
}

@media only screen and (max-width: 992px) {
    .scheduleContainer {
        p {
            font-size: 16px;
        }
    }

    .titleText {
        font-size: 22px !important;
    }

    .pinkText {
        color: white;
    }
    .pinkBG {
        background-color: #F89999;
    }

}