.secondaryTitleText {
    font-family: "Amsterdam";
    line-height: 70px;
}

p {
    overflow: visible;
}

.lightBlueText {
    color: #62FFDA;
}
.lightBlueBG {
    background-color: #62FFDA;
}

@media only screen and (max-width: 992px) {

    .lightBlueText {
        color: white;
    }

}