.weddingListContainer {
    background-color: #FFF0C9;
}

.weddingListInnerContainer {
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 20px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: #0A3B61;
    p {
        font-family: 'Blackout';
        font-size: 24px;
    }
}
.weddingListTitle {
    display: flex;
    align-items: center;
    h1 {
        font-size: 36px;
        margin-left: 10px;
    }
}
.weddingListIcon {
    height: 250px;
}

.peach {
    color: #D88D19;
}