<div class="footerContainer">
    <h3>At ‘La Ferme d’Arnelle’, Saturday, 5 October 2019</h3>
    <div class="footerp">Where ? Rue de Sart Risbart 40, 1325 Longueville</div>
    <%
=begin%>
 <a href='' class="RSVPButton">RSVP</a> 
<%
=end%>
</div>