<div class="navBar navbarText">
    <%= link_to "Home", root_path %>
    <%= link_to "Schedule", schedule_path %>
    <%= link_to "Getting There", getting_there_path %>
    <%= link_to "Accomodations", accomodation_path %>
    <a>Wedding List</a>
    <a>RSVP</a>
    <a>Q&A</a>
</div>