<div class="navBar navbarText">
    <%= link_to "Home", root_path %>
    <%= link_to "Schedule", schedule_path %>
    <a>Getting There</a>
    <a>Accomodations</a>
    <a>Wedding List</a>
    <a>RSVP</a>
    <a>Q&A</a>
</div>