<div class="accomodationContainer">

    <div class="accomodationInnerContainer">
        <div class="accomodationTitle">
            <%= image_tag  "accomodation.png", :class => "accomodationIcon" %>
            <div class="titleText white">Accomodations</div>
        </div>

        <br><br>

        <p class="white">There are plenty of B&B's and hotels in the area. We strongly advise you to book your rooms as quickly as possible.
            </br>You can also visit www.airbnb.be and www.booking.com  and type ‘Longueville, Province du Brabant wallon, Belgique' as reference point.
        </p>
        <br><br>
        <p class="Amsterdam white">Shuttle bus</p>
        <br>
        <p class="white"> A shuttle bus will be organised from Delta, Auderghem to the wedding ceremony and wedding venue.</br>
            It will leave at 1:00 pm sharp at Delta and bring you back at 4:00am. The shuttle bus will drive you from the wedding ceremony to the wedding venue.
            </br>Please make sure to specify if you want to use the Shuttle bus when you RSVP ( a list of names will be provided to the drivers)​
        </p>
        <br><br>
    </div>

</div>