<div class="gettingthereContainer">

    <div class="gettingthereInnerContainer">
        <div class="gettingthereTitle">
            <%= image_tag  "getting_there.png", :class => "gettingthereIcon" %>
            <div class="titleText white">Getting There</div>
        </div>
    </div>
    <br><br><br><br>
    <div class="gettingthereInnerContainer2">

        <div class="gtIC1">

            <div style="display:flex;">
                <i class="far fa-clock gettingthereIconSmall"></i>
                <p class="Amsterdam white">When?</p>
            </div>
            <div class="smallWhiteLine"></div>
            <p class="white">October 25th, 2:00PM</p>

            <br>

            <div style="display:flex;">
                <i class="fas fa-map-marker-alt gettingthereIconSmall"></i>
                <p class="Amsterdam white">Where?</p>
            </div>
            <div class="smallWhiteLine"></div>
            <div style="width: 30vw; display: flex; flex-direction: column; text-align: center;">
                <p class="white">Wedding ceremony : Eglise Saint-Martin, Grez-Doiceau, 1390, 1390 Grez-Doiceau, Belgique</p>
                <p class="white">As from the Reception : 'La Ferme d'Arnelle' - Rue de Sart Risbart 40, 1325 Longueville</p>
            </div>

            <br>

            <p class="Amsterdam white">Can you make it?</p>
            <a href='' class="RSVPButton2">RSVP</a>

        </div>

        <div class="gtIC2">
            <iframe src="https://www.google.com/maps/d/embed?mid=1ZPY6a92jATNtUraiSc5RZG8ym6TWGvGH" style="border:10px solid white;" width="350" height="400"></iframe>
        </div>
    </div>

    <br><br><br><br>

    <div style="display: flex; align-items: center; flex-direction: column;">
        <div class="titleText white">How to get there?</div>
        <br><br><br>
        <div style="display: flex;">
            <i class="fas fa-car gettingthereIconMedium"></i>
            <p class="white large">By car to ‘l'église Saint Martin’ & to ‘La ferme d’Arnelle’ (30 min from Brussels)</p>
        </div>
        <div style="display: flex;">
            <i class="fas fa-bus gettingthereIconMedium"></i>
            <p class="white large">A shuttle bus will be organised from Delta, Auderghem (Parking) to the Wedding Ceremony (see Accommodation page)</p>
        </div>
    </div>

    <br><br>

</div>
