<div class="homeImageContainer">
    <h1> Malo & Seb </h1>
</div>
<div class="homepageTextContainer">
    <h2>05 October 2019</h2>
    <p>Roselyne & François Leonard </br>Inge & André Claes</br>are delighted to invite you to celebrate </br></br> Marie-Laure & Sebastiaan's wedding</p>
</div>