<div class="theContainer">
    <div class="mainImages clickThrough">
        <div class="bottomLeftImg">
            <%= image_tag  "hornBill.svg" %>
        </div>
        <div class="topRightImg">
            <%= image_tag  "leaves.svg" %>
        </div>
    </div>
    <div class="mainContainer">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="leftSide pinkBG">
                        <div class="onlymWeb">
                            <div class="scheduleContainer">
                                <br><br><br>
                                <div class="titleText pinkText">Practical Information</div>
                                <br><br>
                                <p>We would love to have you by our side to celebrate our love!</p>
                                <br><br>
                                <p class="secondaryTitleText pinkText">When?</p>
                                <br>
                                <div class="pinkText saturday">Saturday, 05 October</div>
                                <br><br>
                                <p>2:00 pm - 3:15 pm: Wedding ceremony</br>4:00 pm - 6:30 pm: Reception</br>7:00 pm - 22:30 pm: Seated dinner</br>22:30 pm - wee hours: PARTY</p>
                                <br><br>
                                <p class="secondaryTitleText pinkText">Where?</p>
                                <br>
                                <p>Wedding ceremony : Eglise Saint-Martin, 1390 GREZ-DOICEAU, BELGIUM</p>
                                <br>
                                <p>From the Reception onwards : la ferme d'Arnelle - Rue de Sart Risbart 40, 1325 LONGUEVILLE, BELGIUM</p>
                                <br>
                                <div style="display: flex; align-items: left; flex-direction: column;">
                                    <div class="secondaryTitleText pinkText" >How to get there?</div>
                                    <br><br>
                                    <div style="display:flex; flex-direction: column; justify-content: center;">
                                        <div style="display:flex; justify-content: left; align-items: center;">
                                            <i class="fas fa-car gettingthereIconMedium"></i>
                                            <p class="">By car to l'Eglise Saint Martin & to la ferme d’Arnelle (30 min from Brussels)</p>
                                        </div>
                                        <div style="display:flex; justify-content: left; align-items: center;">
                                            <i class="fas fa-bus gettingthereIconMedium"></i>
                                            <p class="">A shuttle bus will be organised from Delta, Auderghem at 1:00 pm sharp and will bring you back to Delta around 4:00am. It will drive you from the wedding ceremony to the wedding venue.</p>
                                        </div>
                                        <p style="font-size: 12px"> *Make sure to specify if you want to use the shuttle bus when you RSVP. </p>
                                        <p style="font-size: 12px"> *Please note: first come, first served, as there are a limited number of seats. </p>
                                    </div>
                                </div>
                                <div style="display:flex; justify-content: center; align-items: center;">
                                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ZPY6a92jATNtUraiSc5RZG8ym6TWGvGH" style="border:10px solid white;" width="350" height="400"></iframe>
                                </div>
                                <br><br><br><br><br><br><br><br><br>
                            
                            
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding onlyWebLoad">
                    <div class="rightSide">
                        
                        <div class="scheduleContainer">
                            <br><br><br>
                            <div class="titleText pinkText">Practical Information</div>
                            <br><br>
                            <p>We would love to have you by our side to celebrate our love!</p>
                            <br><br>
                            <p class="secondaryTitleText pinkText">When?</p>
                            <br>
                            <p class="pinkText">Saturday, 05 October</p>
                            <br><br>
                            <p>2:00 pm - 3:15 pm: Wedding ceremony</br>4:00 pm - 6:30 pm: Reception</br>7:00 pm - 22:30 pm: Seated dinner</br>22:30 pm - wee hours: PARTY</p>
                            <br><br>
                            <p class="secondaryTitleText pinkText">Where?</p>
                            <br>
                            <p>Wedding ceremony : Eglise Saint-Martin, 1390 GREZ-DOICEAU, BELGIUM</p>
                            <br>
                            <p>From the Reception onwards : la ferme d'Arnelle - Rue de Sart Risbart 40, 1325 LONGUEVILLE, BELGIUM</p>
                            <br>
                            <div style="display: flex; align-items: left; flex-direction: column;">
                                <div class="secondaryTitleText pinkText" >How to get there?</div>
                                <br><br>
                                <div style="display:flex; flex-direction: column; justify-content: center;">
                                    <div style="display:flex; justify-content: left; align-items: center;">
                                        <i class="fas fa-car gettingthereIconMedium"></i>
                                        <p class="">By car to l'Eglise Saint Martin & to la ferme d’Arnelle (30 min from Brussels)</p>
                                    </div>
                                    <div style="display:flex; justify-content: left; align-items: center;">
                                        <i class="fas fa-bus gettingthereIconMedium"></i>
                                        <p class="">A shuttle bus will be organised from Delta, Auderghem at 1:00 pm sharp and will bring you back to Delta around 4:00am. It will drive you from the wedding ceremony to the wedding venue.</p>
                                    </div>
                                    <p style="font-size: 16px"> *Make sure to specify if you want to use the shuttle bus when you RSVP. </p>
                                    <p style="font-size: 16px"> *Please note: first come, first served, as there are a limited number of seats. </p>
                                </div>
                            </div>
                            <div style="display:flex; justify-content: center; align-items: center;">
                                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ZPY6a92jATNtUraiSc5RZG8ym6TWGvGH" style="border:10px solid white;" width="500" height="400"></iframe>
                            </div>
                            <br><br>
                            <br><br><br><br><br><br><br><br><br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

