<div class="qaContainer">

    <div class="qaInnerContainer">
        <div class="qaTitle white">
            <%= image_tag  "qa.png", :class => "qaIcon" %>
            <div class="titleText white">Q & A</div>
        </div>

        <br><br>

        <p class="Amsterdam white">Dress code?</p>
        <br>
        <p class="white">Tenue de ville/Lounge suit but we honestly just want you to be comfortable and to bring good vibes. Also, it is public knowledge that the groom doesn’t like ties very much :)</p>
        <br><br>
        <p class="Amsterdam white">Are kids welcome?</p>
        <br>
        <p class="white">Our preference would be to have your undivided attention that day. However, if you really want or need to bring your kid(s) please let us know by writing to [MAIL]</p>
        <br><br>
        <p class="Amsterdam white">Have I given you all the necessary information?</p>
        <br>
        <p class="white">
            We would be forever grateful if you could clearly state the following in your response:
            </br>1. Which parts you will attend (Ceremony, Reception, Dinner, Party)
            </br>2. If you are taking the Shuttle Bus 
            </br>3. If you wish to be adventurous and pitch your tent in the garden
            </br>Thanks, it will make our lives so much easier :)
        </p>
        <br><br>
        <p class="Amsterdam white">What is the deadline to answer?</p>
        <br>
        <p class="white">The deadline to respond via the website is April 5th and won’t accept any responses after this date :)</p>
        <br><br>
        <p class="Amsterdam white">May I bring my date?</p>
        <br>
        <p class="white">Please email us at [MAIL] to submit an application with pictures and cover letter.</p>
        <br><br>
        <p class="Amsterdam white">Where should I park?</p>
        <br>
        <p class="white">
            For the wedding ceremony, there is a public parking in front of l’eglise Saint-Martin.
            </br>For the wedding venue, next the entrance of ‘La ferme d’Arnelle’ someone will guide you to a parking spot.    
        </p>
        <br><br>
        <p class="Amsterdam white">What if I have dietary restrictions?</p>
        <br>
        <p class="white">Contact us at [MAIL]</p>
        <br><br>
        <p class="Amsterdam white">Is the wedding indoors or outdoors?</p>
        <br>
        <p class="white">
            The ceremony and dinner will be indoors, while the reception will be outdoors. So in case of chilly weather bring some layers.
            </br>We would be forever grateful if you could pray for sun and heat :)
            </br>There are unsupervised stretches of water.
        </p>
        <br><br>
        <p class="Amsterdam white">More questions ?</p>
        <br>
        <p class="white">Please do not hesitate to contact us at [MAIL] should you have any further questions or comments.</p>
        <br><br>
    </div>

</div>