<div class="theContainer">
    <div class="mainImages clickThrough">
        <div class="bottomLeftImg">
            <%= image_tag  "hornBill.svg" %>
        </div>
        <div class="topRightImg">
            <%= image_tag  "leaves.svg" %>
        </div>
    </div>
    <div class="mainContainer">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="leftSide darkBlueBG">
                        <div class="onlymWeb">
                            <div class="scheduleContainer">
                                <br><br><br><br><br>
                                <div class="titleText darkBlueText">Q&A</div>
                                <br><br><br><br>
                                <p class="secondaryTitleText darkBlueText">Dress code?</p>
                                <br>
                                <p>Tenue de ville/Lounge suit but we honestly just want you to be comfortable and to bring good vibes. Also, it is public knowledge that the groom doesn’t like ties very much :)</p>
                                <br>
                                <p class="secondaryTitleText darkBlueText">Are kids welcome?</p>
                                <br>
                                <p>Our preference would be to have your undivided attention that day. However, if you really want or need to bring your kid(s) please let us know by writing to SebetMalo2019@gmail.com</p>
                                <br>
                                <p class="secondaryTitleText darkBlueText">Have I given you all the necessary information?</p>
                                <br>
                                <p>We would be forever grateful if you could clearly state the following in your response:
                                <br>
                                    </br>1. Which parts you will attend (Ceremony, Reception, Dinner, Party)
                                    <br>
                                    </br>2. If you are taking the Shuttle Bus
                                    <br>
                                    </br>3. If you wish to be adventurous and pitch your tent in the garden
                                    <br>
                                    </br>Thanks, it will make our lives so much easier :)</p>
                                <br>
                                <p class="secondaryTitleText darkBlueText">What is the deadline to answer?</p>
                                <br>
                                <p>The deadline to respond via the website is September 5th and we won’t accept any responses after this date :)</p>
                                <br>
                                <p class="secondaryTitleText darkBlueText">May I bring my date?</p>
                                <br>
                                <p>Please email us at SebetMalo2019@gmail.com to submit an application with pictures and cover letter.</p>
                                <br>
                                <p class="secondaryTitleText darkBlueText">Where should I park?</p>
                                <br>
                                <p>For the wedding ceremony, there is a public parking in front of l’eglise Saint-Martin.
                                </br>For the wedding venue, next to the entrance of ‘La ferme d’Arnelle’ someone will guide you to a parking spot.</p>
                                <br>
                                <p class="secondaryTitleText darkBlueText">What if I have dietary restrictions?</p>
                                <br>
                                <p>Contact us at SebetMalo2019@gmail.com</p>
                                <br>
                                <p class="secondaryTitleText darkBlueText">Is the wedding indoors or outdoors?</p>
                                <br>
                                <p>The ceremony and dinner will be indoors, while the reception will be outdoors. So in case of chilly weather bring some layers.
                                </br>We would be forever grateful if you could pray for sun and heat :)
                                </br>There are unsupervised stretches of water.</p>
                                <br>
                                <p class="secondaryTitleText darkBlueText">More questions ?</p>
                                <br>
                                <p>Please do not hesitate to contact us at SebetMalo2019@gmail.com should you have any further questions or comments.</p>
                                <br>
                                <br><br><br><br><br><br><br>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding onlyWebLoad">
                    <div class="rightSide">
                        
                        <div class="scheduleContainer">
                             <br><br><br><br><br>
                            <div class="titleText darkBlueText">Q&A</div>
                            <br><br><br><br>
                            <p class="secondaryTitleText darkBlueText">Dress code?</p>
                            <br>
                            <p>Tenue de ville/Lounge suit but we honestly just want you to be comfortable and to bring good vibes. Also, it is public knowledge that the groom doesn’t like ties very much :)</p>
                            <br>
                            <p class="secondaryTitleText darkBlueText">Are kids welcome?</p>
                            <br>
                            <p>Our preference would be to have your undivided attention that day. However, if you really want or need to bring your kid(s) please let us know by writing to SebetMalo2019@gmail.com</p>
                            <br>
                            <p class="secondaryTitleText darkBlueText">Have I given you all the necessary information?</p>
                            <br>
                            <p>We would be forever grateful if you could clearly state the following in your response:
                            <br>
                                </br>1. Which parts you will attend (Ceremony, Reception, Dinner, Party)
                                <br>
                                </br>2. If you are taking the Shuttle Bus
                                <br>
                                </br>3. If you wish to be adventurous and pitch your tent in the garden
                                <br>
                                </br>Thanks, it will make our lives so much easier :)</p>
                            <br>
                            <p class="secondaryTitleText darkBlueText">What is the deadline to answer?</p>
                            <br>
                            <p>The deadline to respond via the website is September 5th and we won’t accept any responses after this date :)</p>
                            <br>
                            <p class="secondaryTitleText darkBlueText">May I bring my date?</p>
                            <br>
                            <p>Please email us at SebetMalo2019@gmail.com to submit an application with pictures and cover letter.</p>
                            <br>
                            <p class="secondaryTitleText darkBlueText">Where should I park?</p>
                            <br>
                            <p>For the wedding ceremony, there is a public parking in front of l’eglise Saint-Martin.
                            </br>For the wedding venue, next to the entrance of ‘La ferme d’Arnelle’ someone will guide you to a parking spot.</p>
                            <br>
                            <p class="secondaryTitleText darkBlueText">What if I have dietary restrictions?</p>
                            <br>
                            <p>Contact us at SebetMalo2019@gmail.com</p>
                            <br>
                            <p class="secondaryTitleText darkBlueText">Is the wedding indoors or outdoors?</p>
                            <br>
                            <p>The ceremony and dinner will be indoors, while the reception will be outdoors. So in case of chilly weather bring some layers.
                            </br>We would be forever grateful if you could pray for sun and heat :)
                            </br>There are unsupervised stretches of water.</p>
                            <br>
                            <p class="secondaryTitleText darkBlueText">More questions ?</p>
                            <br>
                            <p>Please do not hesitate to contact us at SebetMalo2019@gmail.com should you have any further questions or comments.</p>
                            <br>
                            <br><br><br><br><br><br><br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

