<div class="scheduleContainer">
    <div class="scheduleTitle">
        <%= image_tag  "Schedule.png", :class => "scheduleIcon" %>
        <div class="titleText white">Schedule</div>
    </div>
    <br>
    <p>We would love to have you by our side to celebrate our love!</p>
    <br>
    <p class="Amsterdam">Where?</p>
    <p>Wedding ceremony : Egpse Saint-Martin, Grez-Doiceau, 1390, 1390 Grez-Doiceau, Belgique</br>As from the Reception : 'La ferme d'Arnelle' - Rue de Sart Risbart 40, 1325 Longueville</p>
    <br>
    <p class="Amsterdam">Dress-code:</p>
    <p>Casual Chic- Tenue de ville - Lounge suit - Country style</p>
    <br>
    <br>
    <br>
    <div class="titleText">Saturday, 05 October</div>
    <br>
    <br>
    <p>2:00 pm - 3:15 pm: Wedding ceremony</br>4:00 pm - 6:30 pm: Reception</br>7:00 pm - 22:30 pm: Seated dinner</br>22:30 pm - wee hours: PARTY</p>
    <br>
</div>