<div class="weddingListContainer">

    <div class="weddingListInnerContainer">
        <div class="weddingListTitle peach">
            <%= image_tag  "weddinglist.png", :class => "weddingListIcon" %>
            <div class="titleText peach">Wedding List</div>
        </div>

        <br><br>

        <p class="peach">
            Dearest friends and family,
            </br><br>
            By making our wedding list, we thought we would make it easy for those who wish to contribute to help us get set up for life post-wedding.
            </br><br>
            The following link will help you find how to contribute for our happy life together: [LINK]
            </br><br>
            All our love,</br>
            Malo & Seb</br>
            Thank you!
        </p>
        <br><br>
    </div>

</div>