<div class="theContainer">
    <div class="mainImages clickThrough">
        <div class="bottomLeftImg">
            <%= image_tag  "hornBill.svg" %>
        </div>
        <div class="topRightImg">
            <%= image_tag  "leaves.svg" %>
        </div>
    </div>
    <div class="mainContainer">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="leftSide lightBlueBG">
                        <div class="onlymWeb">
                             <div class="scheduleContainer">
                                <br><br><br>
                                <div class="titleText lightBlueText">Wedding List</div>
                                <br><br>
                                <p>Dearest friends and family,
                                </br><br>
                                By making our wedding list, we thought we would make it easy for those who wish to contribute to help us get set up for life post-wedding.
                                </br><br>
                                The following link will help you find how to contribute for our happy life together: 
                                </br><br>
                                <a href="https://wecocoon.com/fr/registry/MaloSeb">Wedding List</a>
                                </br><br>
                                All our love,</br>
                                Malo & Seb</br>
                                Thank you!
                                </p>
                                <br><br><br><br><br><br><br>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding onlyWebLoad">
                    <div class="rightSide">
                        
                        <div class="scheduleContainer">
                            <br><br><br>
                            <div class="titleText lightBlueText">Wedding List</div>
                            <br><br>
                            <p>Dearest friends and family,
                            </br><br>
                            By making our wedding list, we thought we would make it easy for those who wish to contribute to help us get set up for life post-wedding.
                            </br><br>
                            The following link will help you find how to contribute for our happy life together: 
                            </br><br>
                            <a href="https://wecocoon.com/fr/registry/MaloSeb">Wedding List</a>
                            </br><br>
                            All our love,</br>
                            <br>
                            Malo & Seb</br>
                            <br>
                            Thank you!
                            </p>
                            <br><br><br><br><br><br><br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

