.navBar {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.navbarText a {
  font-family: 'Amsterdam';
  font-size: 12px;
  padding: 20px;
  color: black;
}