.navBar {
  position: fixed;
  z-index: 100;
  background-color: transparent;
  top: -80px;
  transform: translate(0,0);
  transition: all 1s ease-in;
}
.moveDown {
  transform: translate(0, 80px);
}


.navbarText {
  margin-top: 10px;
  width: 50vw;
  display: flex;
  justify-content: center;
  a {
    line-height: 50px;
    padding-right: 15px;
    font-family: 'Amsterdam';
    font-size: 12px;
    color: white;
  }
}

#navbarAidText {
  font-family: 'BebasNeue';
  color: white;
  letter-spacing: 10px;
  margin: 0px;
}

.navbarArrow {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  i {
    font-size: 25px;
    color: white;
  }
}
#navbarArrow {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: all 1s ease-in !important;
}
.flip {
  transform: rotate(180deg) !important;
  -webkit-transform: rotate(180deg) !important;
}

.arrowRemove{
  margin-left: 10px;
}
.arrowAnimate {
    animation: slide 1s ease-in-out infinite;

}
@keyframes slide {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 5px);
    }
}